{% extends 'base.html' %}
{% block title %}Update Guest{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
    <h1 id="moving-title" style="width: 53%; margin: auto;text-align: left; padding: 15px; font-size: 40px">
        Update Guest
    </h1>
    <br>
    
    <div style="width: 53%; margin: auto;">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}error{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
      </div>
    
    <div style="width: 30%; margin: auto; margin-bottom: 100px;">
     
        <form method= 'POST' id="myForm">
            {% csrf_token %}
            <div style="color:red" class="is-invalid" id="firstName"></div>
            <div style="color:red" class="is-invalid" id="lastName"></div>
            <div style="color:red" class="is-invalid" id="email"></div>
            <div style="color:red" class="is-invalid" id="friendName"></div>
            <div style="color:red" class="is-invalid" id="friendEmail"></div><br>
            {{form|crispy}}
            <input class="btn btn-primary" type="submit" value="Update">

        </form>

    </div>
{% endblock body %}

